page-profile {
	.profile-avatar{
		width:100px;
		height:100px;
		border-radius:50%;
		overflow:hidden;
	}
	.edit-form{
		.item{
			&.input-has-focus{
				.item-inner{
					border-bottom-color:#C3C0B9;
				}
			}
		}
	}
}
