<ion-row>
	<ion-col text-center tappable (click)="goto(HomePage)" [ngClass]="{'selected':active==HomePage}">
		<ion-icon name="icon-home"></ion-icon>
		<span>{{'tabs.home'|translate}}</span>
	</ion-col>
	<ion-col text-center tappable (click)="goto(CategoriesPage)" [ngClass]="{'selected':active==CategoriesPage}">
		<ion-icon name="icon-grid-out"></ion-icon>
		<span>{{'tabs.categories'|translate}}</span>
	</ion-col>
	<ion-col text-center tappable (click)="goto(SearchPage)" [ngClass]="{'selected':active==SearchPage}">
		<ion-icon name="icon-search"></ion-icon>
		<span>{{'tabs.search'|translate}}</span>
	</ion-col>
	<ion-col text-center tappable (click)="goto(AccountPage)" [ngClass]="{'selected':active==AccountPage}">
		<ion-icon name="icon-account"></ion-icon>
		<span>{{'tabs.account'|translate}}</span>
	</ion-col>
</ion-row>