<div padding light text-center class="footer">
	<h5 text-uppercase>{{'modern_footer_details_title'|static}}</h5>
	<p>{{'modern_footer_address'|static}}</p>
	<p>{{'modern_footer_phone'|static}}</p>
	<p>{{'modern_footer_email_domain'|static}}</p>
	<div padding-8>
		<button ion-button icon-only clear color="light" class="disable-hover"><ion-icon name="icon-twitter"></ion-icon></button>
		<button ion-button icon-only clear color="light" class="disable-hover"><ion-icon name="icon-facebook"></ion-icon></button>
		<button ion-button icon-only clear color="light" class="disable-hover"><ion-icon name="icon-google"></ion-icon></button>
	</div>
	<p>{{'modern_footer_copyright'|static}}</p>
</div>