page-thanks {
	.header{
		.toolbar-background{background:#00A43E;}
		.toolbar-title{
			font-size:1.5rem;
			.icon{font-size:1.5rem;};
		}
		ion-toolbar{
			.toolbar-title{font-size:1.3rem;}
		}
	}
}
