page-address {
	.checkbox-use-billing{
		.checkbox{margin:0 5px 0 0!important;}
		.item-inner{
			border-bottom:none!important;
			font-size:1.2rem;
		}
	}
	.item{
		&.ng-valid.input-has-value:not(.input-has-focus){
			.item-inner{
				border-bottom-color:#EEF0F3!important;
				box-shadow:none!important;
			}
			&:last-child{
				border:none;
				box-shadow:none;
			}
		}
	}
}
