page-account {
	.account-header{
		[mark]{@include background-opacity(#000, 0.7);}
		.account-avatar{
			font-size:500%;
			width:100px;
			height:100px;
			border-radius:50%;
			overflow:hidden;
		}
	}
	.account-list{
		.item{
			border-bottom:1px solid #f3f3f3;
			.item-inner{
				border-bottom:none;
				.toggle-md .toggle-checked{
					background:#b2dfdb;
					.toggle-inner{background-color:#3fbeb5}
				}
			}
		}
	}
}
