<ion-header>
  <ion-navbar>
    <ion-title><span no-wrap [innerHTML]="data.name"></span></ion-title>
	<ion-buttons end>
		<button-cart #cart icon="icon-bag"></button-cart>
	</ion-buttons>
  </ion-navbar>
  <ion-toolbar class="header-filter">
	<button *ngIf="categories && 0<categories.length" ion-button clear color="dark" no-margin (click)="openCategory()" class="disable-hover">
		<span [attr.primary]="filter.open=='category' ? true : null">{{'categories.category'|translate}}</span>
		<ion-icon name="md-arrow-dropdown"></ion-icon>
	</button>
	<button ion-button clear color="dark" no-margin (click)="openFilter()" class="disable-hover">
		<span [attr.primary]="filter.open=='filter' ? true : null">{{'categories.filter'|translate}}</span>
		<ion-icon name="md-arrow-dropdown"></ion-icon>
	</button>
	<button ion-button clear color="dark" no-margin (click)="openSort()" class="disable-hover">
		<span [attr.primary]="filter.open=='sort' ? true : null">{{'categories.sort'|translate}}</span>
		<ion-icon name="md-arrow-dropdown"></ion-icon>
	</button>
	<div float-right>
		<button float-right ion-button clear color="dark" no-margin class="disable-hover"
		[ngClass]="{'disabled':filter.grid}" (click)="filter.grid=false">
			<ion-icon name="icon-order"></ion-icon>
		</button>
		<button float-right ion-button clear color="dark" no-margin class="disable-hover"
		[ngClass]="{'disabled':!filter.grid}" (click)="filter.grid=true">
			<ion-icon name="icon-grid-out"></ion-icon>
		</button>
	</div>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Refresh -->
<ion-refresher (ionRefresh)="doRefresh($event)">
	<ion-refresher-content
		[pullingIcon]="'general.pullingIcon'|translate"
		[pullingText]="'general.pullToRefresh'|translate"
		[refreshingSpinner]="'general.refreshingSpinner'|translate"
		[refreshingText]="'general.refreshing'|translate">
	</ion-refresher-content>
</ion-refresher>
<!-- Category -->
<ion-scroll tappable *ngIf="filter.open=='category'" ion-fixed width-100 height-100 mark (click)="filter.open=null" scrollY="true" class="list-categories">
	<button ion-item *ngFor="let category of categories" [navPush]="DetailCategoryPage" [navParams]="{id:category.id}">
		<ion-label dark [innerHTML]="category.name"></ion-label>
	</button>
</ion-scroll>
<!-- Filter -->
<div *ngIf="filter.open=='filter'" ion-fixed width-100 height-100 light-bg>
	<ion-scroll width-100 height-100 scrollY="true">
		<ion-list>
			<!-- Range Price -->
			<hide-show color="light">
				<span this-title>
					<b>{{'categories.price_range'|translate}}</b>
					<span>{{range.lower|price}}</span><span *ngIf="0<range.upper"> - {{range.upper|price}}</span>
				</span>
				<ion-range this-content dualKnobs="true" max="1000" [(ngModel)]="range">
				</ion-range>
			</hide-show> 
			<hide-show color="light" *ngFor="let attr of attributes.attributes" class="filter-attribute">
				<span this-title><b text-capitalize [innerHTML]="attr.name"></b></span>
				<ion-row wrap this-content padding-bottom>
					<ion-col width-50 *ngFor="let term of attr.term" no-padding>
						<ion-item no-padding>
							<ion-label [innerHTML]="term.name"></ion-label>
							<ion-checkbox [(ngModel)]="filter.value[attr.slug][term.slug]"></ion-checkbox>
						</ion-item>
					</ion-col>
				</ion-row>
			</hide-show> 
			<hide-show color="light" *ngFor="let attr of attributes.custom" class="filter-attribute">
				<span this-title><b text-capitalize [innerHTML]="attr.name"></b></span>
				<ion-row wrap this-content padding-bottom>
					<ion-col width-50 *ngFor="let term of attr.term|ObjectToArray" no-padding>
						<ion-item no-padding>
							<ion-label [innerHTML]="term.name"></ion-label>
							<ion-checkbox [(ngModel)]="filter.valueCustom[attr.slug][term.slug]"></ion-checkbox>
						</ion-item>
					</ion-col>
				</ion-row>
			</hide-show> 
		</ion-list>
	</ion-scroll>
</div>
<!-- Sort -->
<div *ngIf="filter.open=='sort'" ion-fixed width-100 height-100 mark tappable (click)="filter.open=null">
	<ion-list radio-group [(ngModel)]="sort" class="list-sort" (ngModelChange)="filter.open=null">
		<ion-item *ngFor="let option of 'categories.sortData'|translate">
			<ion-label [innerHTML]="option.text"></ion-label>
			<ion-radio [value]="option.value"></ion-radio>
		</ion-item>
	</ion-list>		
</div>
<!-- List products -->
<ion-row padding-8 wrap *ngIf="0< products.length" [ngClass]="{'filter-list':!filter.grid}">
	<ion-col padding-8 relative [attr.width-50]="filter.grid ? true : null" *ngFor="let product of products|orderBy:sort">
		<div [navPush]="DetailPage" [navParams]="{id:product.id}">
			<div relative float-left class="product-image">
				<img float-left *ngIf="product.modernshop_images && product.modernshop_images[0].modern_square" [src]="product.modernshop_images[0].modern_square" />
				<img float-left *ngIf="!product.modernshop_images || !product.modernshop_images[0].modern_square" src="assets/images/no-image.png" />
				<div absolute bottom primary-bg product-sale *ngIf="product.sale_price && product.type!='variable' && product.type!='grouped'" class="sale">
					<span light>{{(product.sale_price/product.regular_price*100)-100|number:'1.0-0'}}%</span>
				</div>
				<img absolute icon-sale *ngIf="(product.type=='variable'||product.type=='grouped') && product.on_sale" src="assets/images/icon-sale.png" />
			</div>
			<div float-left class="product-detail" width-100>
				<p [attr.no-margin]="filter.grid ? null : true" float-left padding-right>
					<span *ngIf="product.type!='variable' && product.type!='grouped'">
						<b dark font-120>{{product.price*1||0|price}}</b>
						<span *ngIf="product.sale_price" margin-left text-through>{{product.regular_price*1|price}}</span>
					</span>
					<span *ngIf="product.type=='variable' || product.type=='grouped'">
						<b dark font-120 [innerHTML]="product.price_html"></b>
					</span>
				</p>
				<div [hidden]="filter.grid">
					<div class="rate">
						<div class="rating" [style.width]="product.average_rating*20+'%'"></div>
					</div>
				</div>
				<span dark [innerHTML]="product.name"></span>
				<div *ngIf="product.type=='variable' && 0< product.attributes.length" [hidden]="filter.grid">
					<div *ngFor="let attribute of product.attributes|filter:{variation:true}">
						<span [innerHTML]="attribute.name"></span>: 
						<span dark>{{attribute.options|ArrayJoin:', '}}</span>
					</div>
				</div>
				<div [hidden]="filter.grid" overflow>
					<div float-left primary no-wrap class="sale">{{'categories.sold'|translate}} {{product.total_sales}}</div>
				</div>
			</div>
		</div>
		<button ion-button absolute top right clear (click)="changeFavorite(product)"
		[color]="favorite[product.id] ? 'primary' : 'dark'" [hidden]="filter.grid" class="disable-hover">
				<ion-icon icon-big name="ios-heart-outline"></ion-icon>
		</button>
	</ion-col>
</ion-row>
<div padding *ngIf="loaded && products.length <1" text-center>{{'general.no_data'|translate}}</div>
<ion-infinite-scroll (ionInfinite)="load($event)" *ngIf="!filtering">
	<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<footer-tabs></footer-tabs>
		<ion-row absolute width-100 height-100 top left light-bg [hidden]="filter.open!='filter'">
			<ion-col no-padding height-100>
				<button ion-button full height-100 color="secondary" (click)="reset()">
					<span>{{'general.reset'|translate}}</span>
				</button>
			</ion-col>
			<ion-col no-padding height-100>
				<button ion-button full height-100 (click)="runFilter()">
					<span>{{'categories.done'|translate}}</span>
				</button>
			</ion-col>
		</ion-row>
		<div absolute width-100 height-100 top left mark [hidden]="filter.open!='sort'" tappable (click)="filter.open=null"></div>
	</ion-toolbar>
</ion-footer>